<div id="formularioInmobleContainer" class="container-fluid">

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Crear Usuari</h1>
    </div>

    <form id="crear-formulari-usuari" method="POST" enctype="multipart/form-data">

        <div class="row mb-3">
            <div class="col-md-12">
                <label for="Nom" class="form-label">Nom</label>
                <input type="text" class="form-control" id="Nom" name="Nom" pattern="[a-zA-ZÀ-ÿ\s]{3,}" title="Nom invàlid: només s'admeten lletres, sense números ni símbols, amb un mínim de 3 caràcters." spellcheck="false" data-ms-editor="true" required>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-12">
                <label for="Cognoms" class="form-label">Cognoms</label>
                <input type="text" class="form-control" id="Cognoms" name="Cognoms" pattern="[a-zA-ZÀ-ÿ\s]{3,}" title="Cognoms invàlids: només s'admeten lletres, sense números ni símbols, amb un mínim de 3 caràcters." spellcheck="false" data-ms-editor="true" required>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-12">
                <label for="Email" class="form-label">Email</label>
                <input type="text" class="form-control" id="Email" name="Email" required>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-12">
                <label for="Contrasenya" class="form-label">Contrasenya</label>
                <input type="password" class="form-control" id="Contrasenya" name="Contrasenya" pattern=".{6,}" title="La contrasenya ha de tenir com a mínim 6 caràcters" required>
            </div>
        </div>

        <div class="mb-3">
            <label for="TipusUsuari" class="form-label">Tipus usuari</label>
            <select class="form-select" aria-label="Default select example" id="TipusUsuari" name="TipusUsuari" required>
                <option value="">Selecciona una opció</option>
                <option value="A">Administrador</option>
                <option value="R">Registrat</option>
            </select>
        </div>

        <div class="justify-content-end">
            <button type="submit" class="btn btn-primary" data-bs-toggle="modal" value="Crear">Crear</button>
        </div>

    </form>
</div>