<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <a class="sidebar-brand d-flex align-items-center justify-content-center dashboard-link" href="/index.html">
        <img src="../../assets/brand/Solaria.svg">
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <div id="admin-operations">
        <div className="sidebar-heading">Immobles</div>
        <li class="nav-item">
            <a class="nav-link dashboard-link" href="#all-immobles">
                <i class="fa-solid fa-list"></i>
                <span>Llistat d'immobles</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link dashboard-link" href="#afegir-immoble">
                <i class="fa-solid fa-plus"></i>
                <span>Crear immoble</span>
            </a>
        </li>
        <div className="sidebar-heading">Usuaris</div>
        <li class="nav-item">
            <a class="nav-link dashboard-link" href="#all-usuaris">
                <i class="fa-solid fa-list"></i>
                <span>Llistat d'usuaris</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link dashboard-link" href="#afegir-usuari">
                <i class="fa-solid fa-plus"></i>
                <span>Crear usuari</span>
            </a>
        </li>
    </div>

</ul>