<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <a class="sidebar-brand d-flex align-items-center justify-content-center dashboard-link" href="#">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Solaria</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Heading -->
    <div class="sidebar-heading">Immobles</div>

    <li class="nav-item">
        <a class="nav-link dashboard-link" href="#immobles">
            <i class="fas fa-fw fa-table"></i>
            <span>Llistat</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link dashboard-link" href="#crear-immoble">
            <i class="fas fa-fw fa-table"></i>
            <span>Crear immoble</span></a>
    </li>
</ul>