<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <a class="sidebar-brand d-flex align-items-center justify-content-center dashboard-link" href="/index.html">
        <img src="../../assets/brand/Solaria.svg">
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <div id="registered-user-operations">
        <div className="sidebar-heading">Immobles</div>
        <li class="nav-item">
            <a class="nav-link dashboard-link" href="#immobles">
                <i class="fa-solid fa-list"></i>
                <span>Llistat d'immobles</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link dashboard-link" href="#crear-immoble">
                <i class="fa-solid fa-plus"></i>
                <span>Crear immoble</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link dashboard-link" href="#immobles-favorits">
                <i class="fa-solid fa-heart"></i>
                <span>Immobles favorits</span>
            </a>
        </li>
    </div>
</ul>