<div class="d-flex flex-sm-wrap flex-md-nowrap flex-wrap gap-3 my-5">
  <div class="card-group">
    <div class="card">
      <img src="https://fastly.picsum.photos/id/16/2500/1667.jpg?hmac=uAkZwYc5phCRNFTrV_prJ_0rP0EdwJaZ4ctje2bY7aE"
        class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title text-start">Card title</h5>
        <p class="card-text text-start">This is a wider card with supporting text below as a natural lead-in to
          additional content. This content is a little bit longer.</p>

      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
        <small class="liked"><span><i class="fa fa-heart" aria-hidden="true"></i></span></small>
        <small class="noLiked"><span><i class="fa fa-heart-o" aria-hidden="true"></i></span></small>
      </div>
    </div>
  </div>
  <div class="card-group">
    <div class="card">
      <img src="https://fastly.picsum.photos/id/16/2500/1667.jpg?hmac=uAkZwYc5phCRNFTrV_prJ_0rP0EdwJaZ4ctje2bY7aE"
        class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title text-start">Card title</h5>
        <p class="card-text text-start">This is a wider card with supporting text below as a natural lead-in to
          additional content. This content is a little bit longer.</p>

      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
        <small class="liked"><span><i class="fa fa-heart" aria-hidden="true"></i></span></small>
        <small class="noLiked"><span><i class="fa fa-heart-o" aria-hidden="true"></i></span></small>
      </div>
    </div>
  </div>
  <div class="card-group">
    <div class="card">
      <img src="https://fastly.picsum.photos/id/16/2500/1667.jpg?hmac=uAkZwYc5phCRNFTrV_prJ_0rP0EdwJaZ4ctje2bY7aE"
        class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title text-start">Card title</h5>
        <p class="card-text text-start">This is a wider card with supporting text below as a natural lead-in to
          additional content. This content is a little bit longer.</p>

      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
        <small class="liked"><span><i class="fa fa-heart" aria-hidden="true"></i></span></small>
        <small class="noLiked"><span><i class="fa fa-heart-o" aria-hidden="true"></i></span></small>
      </div>
    </div>
  </div>
</div>