<table class="table p-3 container-fluid" id="llista-inmobles" >
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Carrer</th>
            <th scope="col">Numero</th>
            <th scope="col">Pis</th>
            <th scope="col">Codi postal</th>
            <th scope="col">Poblacio</th>
            <th scope="col">Descripcio</th>
            <th scope="col">Preu</th>
            <th scope="col">Imatge</th>
            <th scope="col">Elimina pis</th>
        </tr>
    </thead>
    <tbody id="contenido-en-tabla-inmobles"></tbody>
</table>