
<!--role="document"-->

<div class="modal fade" tabindex="-1" role="dialog" id="message-modal">
  <div class="modal-dialog modal-dialog-centered" >
    <div class="modal-content">
      <div class="modal-header border-bottom-0 justify-content-end">
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" >
        </button>
      </div>
      <div class="modal-body pb-5">
        <b id="misatje-en-modal">Mensaje del modal.</b>
      </div>
    </div>
  </div>
</div>