<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top nav-scroll mb-sm-3 mb-md-3 mb-3 py-2">
    <div class="container-fluid">
        <a class="navbar-brand ms-3" href="/index.html">
            <img src="/assets/brand/Solaria.svg" width="120" alt="Logo Solaria" aria-hidden="true">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto  ">
                <li class="nav-item">
                    <!--CAMBIAR DIRECCION-->
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Immobles</a>
                </li>
                <li>

                </li>
            </ul>
            <div id="btn-login-container" class="d-flex flex-column">
                <button id="btn-login" value="login" class="btn btn-outline-primary  m-3" data-bs-toggle="modal"
                    href="#staticBackdrop"> <i class="fa-solid fa-arrow-right-to-bracket me-2"></i> login </button>

            </div>

        </div>
    </div>
</nav>
<div id="banner"></div>



<script>



    const payloadRec = localStorage.getItem('usuario');
    const btnContainer = document.getElementById("btn-login-container");
    const btnLogin = document.getElementById("btn-login");


    let payloadParse = JSON.parse(payloadRec);

    let usuarioLocal = payloadParse.usuario;

    (function () {

        console.log('usuarioLocal')
        console.log(usuarioLocal)



        if (usuarioLocal) {

            let iconoUsuario = document.createElement("i")
            iconoUsuario.classList.add("fa-solid", "fa-user", "m-2", "me-0", "mt-0", "mb-0", "pr-5")

            let btnUsuario = document.createElement("button");


            btnUsuario.classList.add("btn", "btn-outline-primary", "m-3")
            btnUsuario.setAttribute('onclick', 'logout();')
            btnUsuario.id = "btn-usuario";
            btnUsuario.textContent = usuarioLocal.Nom;

            btnContainer.replaceChildren(btnUsuario)
            //  btnContainer.appendChild(btnUsuario);
            btnUsuario.appendChild(iconoUsuario);


        }


    })();


    function logout() {

        localStorage.removeItem('usuario');
        btnContainer.replaceChildren(btnLogin)

    }


</script>