<nav id="navbar" class="navbar  navbar-expand-lg navbar-light bg-light fixed-top nav-scroll mb-sm-3 mb-md-3 mb-3 py-2">
    <div class="container-fluid">
        <a class="navbar-brand ms-3" href="/index.html">
            <img src="assets/brand/Solaria.svg" width="120" alt="Logo Solaria" aria-hidden="true">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav me-auto  text-center">
                <li class="nav-item">
                    <!--CAMBIAR DIRECCION-->
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item  ">
                    <a class="nav-link" href="#">Immobles</a>
                </li>

            </ul>

            <div id="nom-usuari-container" class="text-center" >

            </div>
            <!--<button value="account-profile"  class="btn btn-user-profile">-->

            </button>


            <div id="btn-login-container" class="d-flex flex-column">
                <button id="btn-login" value="login" class="btn btn-outline-primary  m-3" data-bs-toggle="modal"
                    href="#staticBackdrop"> <i class="fa-solid fa-arrow-right-to-bracket me-2"></i> login </button>

            </div>

        </div>
    </div>
</nav>

