<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top nav-scroll mb-sm-3 mb-md-3 py-2">
    <div class="container-fluid">
        <a class="navbar-brand ms-3" href="/index.html">
            <img src="assets/brand/Solaria.svg" width="120" alt="Logo Solaria" aria-hidden="true">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto  ">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Immobles</a>
                </li>
                <li>
         
                </li>
            </ul>
            <form class="d-flex flex-column" action="/login.html">
                <button value="login" class="btn btn-outline-primary  m-3" type="submit"> <i
                        class="fa-solid fa-arrow-right-to-bracket me-2" onclick="loginModal()"></i> login </button>
                 <button type="button" data-bs-toggle="modal"  href="#staticBackdrop">Launch modal</button>

            </form>
          
        </div>
    </div>
</nav>

<!--data-bs-target="#staticBackdrop"-->