<section class="home-slider">
    <div class="bg-black"></div>
    <div class="bg-image"></div>
    <div class="container text">
        <h1>Amb més de 20 any d'experiencia</h1>
        <p>Fundada l'any 1989, la nostra empresa és un equip de reconeguts experts en gestió immobiliària i immobiliàries sempre disposats a ajudar-te.</p>
       
        <!--BUSCADOR-->
        <form id="BusquedaInmuebles">

     
        <div class="input-group mb-3 mt-5">
            <input type="text" class="form-control" placeholder="Cerca immoble" aria-label="Cerca d'immobles" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-primary" type="submit">Veure immobles</button>
            </div>
          </div>



          <div class="form-row align-items-center">
            <div class="col-auto my-1">
              <label class="mr-sm-2 sr-only" for="tipoBusqueda">Tipo de cerca</label>
              <select class="custom-select mr-sm-2 p-3"  id="tipoBusqueda">
                <option selected>Cerca per...</option>
                <option value="poblacio">Poblacio</option>
                <option value="codi-postal">Codi postal</option>
              </select>
            </div>
          </div>
          
        </form>
    </div>
    <img class="w-100 w" src="https://fastly.picsum.photos/id/16/2500/1667.jpg?hmac=uAkZwYc5phCRNFTrV_prJ_0rP0EdwJaZ4ctje2bY7aE">
</section>