<section class="home-slider">
    <div class="bg-black"></div>
    <div class="bg-image"></div>
    <div class="container text">
        <h1>Amb més de 20 any d'experiencia</h1>
        <p>Fundada l'any 1989, la nostra empresa és un equip de reconeguts experts en gestió immobiliària i immobiliàries sempre disposats a ajudar-te.</p>
        <a class="btn-primary mt-3" href="#immobles">Veure immobles</a>
    </div>
    <img class="w-100 w" src="https://fastly.picsum.photos/id/16/2500/1667.jpg?hmac=uAkZwYc5phCRNFTrV_prJ_0rP0EdwJaZ4ctje2bY7aE">
</section>